.navbar {
    // #0057b3
    // background-color: #f7f4f4;
    // padding: 1rem;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f6f9fc;
    border-top: 2px solid #f6f9fc;

    .search-bar {
        margin-left: 3%;
        position: relative;
        width: 300px;

        input {
            width: 106%;
            padding: 0.5rem 2.5rem; // Adjusted for icons
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-size: 16px;
        }

        .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
        }

        .dropdown-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #888;
        }

        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 10;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }

    .AddBtn {
        margin-right: 6%;
        button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}